<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>Go To Work</title>
</head>
<body>
  <div class="wrapper dashbord">
    <section class="left_menu">
      <div class="left_menu__wrapp">
        <div class="left_menu__btn_close js-close-menu"></div>
        <div class="left_menu__bg"></div>
        <div class="left_menu__logo"></div>
        <div class="left_menu_list">
        <div class="left_menu_list__top">
            <ul class="nav_list js-nav-list">
                <li class="nav_list__item offers">Предложения</li>
                <li class="nav_list__item affiliate_program active">Партнерская программа</li>
                <li class="nav_list__item statistics">Статистика</li>
                <hr class="left_menu__hr">
                <li class="nav_list__item where_to_begin">С чего начать?</li>
            </ul>
        </div>
        <div class="left_menu_list__bottom">
            <div class="left_menu__info">
                <div class="info__img">
                  <img  src="../img/photo.png">
                </div>
                <div class="info__name">Андрей Кшиштовский</div>
                <div class="info__email">thuhang.nute@gmail.com</div>
            </div>
            <ul class="nav_list nav_profile_list">
                <li class="nav_list__item profile nav_profile_list__item">Мой профиль</li>
                <li class="nav_list__item sign_out nav_profile_list__item">Выйти из аккаунта</li>
                <hr class="left_menu__hr">
                <li class="nav_list__item help nav_profile_list__item">Помощь и поддержка</li>
            </ul>
        </div>
      </div>
      </div>
    </section>
    <section class="main dashbord__main affiliate_program__main">
      <div class="menu__logo-black"></div>
      <div class="menu__burger js-open-menu"></div>
      <h1 class="dashbord__title affiliate_program__title">Партнерская программа</h1>
      <div class="affiliate_program__wrapp">
        <div class="affiliate_program__no_friends_addaed dn">
            <h3 class="affiliate_program__title">Нет добавленных друзей</h3>
            <span class="affiliate_program__text">Добавьте друзей, отправив на email друга ссылку для приглашения. Или скопируйте реферальную ссылку&nbsp;напрямую</span>
            <form action="/" class="affiliate_program__no_friends_added__form">
                <div class="input__wrapper ">
                    <div class="main__input input__email_first">
                      <input name="email_first"/ type="text" required>
                      <label for="email_first">Email друга</label>
                      <span class="input_msg_error">Неверно введен email</span>
                    </div>
                  </div>
                <button class="affiliate_program__no_friends_added__btn js-send-email" type="submit"></button>
            </form>
            <div class="ref_link__wrapp">
                <span class="ref_link__text">Реферальная ссылка</span>
                <span class="ref_link">https://figma.fun/PVB30H</span>
                <span class="ref_link__icon"></span>
              </div>
        </div>
        <div class="affiliate_program__friends_list">
          <div class="main__input input__search">
            <input name="search"/ type="text" required>
            <label for="search">Поиск</label>
          </div>
          <button class="main__button affiliate_program__friends_list__btn main__button_white js-open-popup " type="button">Добавить друга</button>
          <ul class="affiliate_program__friends_list_wrapp">
            <li class="affiliate_program__friends_list__item __header">
              <div class="row __date">Дата регистрации</div>
              <div class="row __name">Имя</div>
              <div class="row __phone">Телефон</div>
              <div class="row __email">Почта</div>
            </li>
            <li class="affiliate_program__friends_list__item">
              <div class="row __date">7 Марта 2021</div>
              <div class="row __name"><span>РП</span>Роман Николаевич Петров</div>
              <div class="row __phone">+7( 123) 197-25-00</div>
              <div class="row __email">manhhachkt08@gmail.com</div>
            </li>
            <li class="affiliate_program__friends_list__item">
              <div class="row __date">7 Марта 2021</div>
              <div class="row __name"><span>РП</span>Роман Николаевич Петров</div>
              <div class="row __phone">+7( 123) 197-25-00</div>
              <div class="row __email">manhhachkt08@gmail.com</div>
            </li>
            <li class="affiliate_program__friends_list__item">
              <div class="row __date">7 Марта 2021</div>
              <div class="row __name"><span>РП</span>Роман Николаевич Петров</div>
              <div class="row __phone">+7( 123) 197-25-00</div>
              <div class="row __email">manhhachkt08@gmail.com</div>
            </li>
            <li class="affiliate_program__friends_list__item">
              <div class="row __date">7 Марта 2021</div>
              <div class="row __name"><span>РП</span>Роман Николаевич Петров</div>
              <div class="row __phone">+7( 123) 197-25-00</div>
              <div class="row __email">manhhachkt08@gmail.com</div>
            </li>
            <li class="affiliate_program__friends_list__item">
              <div class="row __date">7 Марта 2021</div>
              <div class="row __name"><span>РП</span>Роман Николаевич Петров</div>
              <div class="row __phone">+7( 123) 197-25-00</div>
              <div class="row __email">manhhachkt08@gmail.com</div>
            </li>
            <li class="affiliate_program__friends_list__item">
              <div class="row __date">7 Марта 2021</div>
              <div class="row __name"><span>РП</span>Роман Николаевич Петров</div>
              <div class="row __phone">+7( 123) 197-25-00</div>
              <div class="row __email">manhhachkt08@gmail.com</div>
            </li>
            <li class="affiliate_program__friends_list__item">
              <div class="row __date">7 Марта 2021</div>
              <div class="row __name"><span>РП</span>Роман Николаевич Петров</div>
              <div class="row __phone">+7( 123) 197-25-00</div>
              <div class="row __email">manhhachkt08@gmail.com</div>
            </li>
            <li class="affiliate_program__friends_list__item">
              <div class="row __date">7 Марта 2021</div>
              <div class="row __name"><span>РП</span>Роман Николаевич Петров</div>
              <div class="row __phone">+7( 123) 197-25-00</div>
              <div class="row __email">manhhachkt08@gmail.com</div>
            </li>
          </ul>
          <div class="affiliate_program__friends_list__pag_wrapp">
            <div class="pagination_steps_index">1 – 10 из 28</div>
            <div class="pagination_steps">
              <span class="pagination_steps__text">Вы на странице</span>
              <div class="pagination_steps__select_wrapp">
                <select class="pagination_steps__select" type="text">
                  <option value="1">1</option>
                  <option value="1">1</option>
                  <option value="1">1</option>
                  <option value="1">1</option>
                  <option value="1">1</option>
                  <option value="1">1</option>
                </select>
              </div>
              <div class="pagination_steps__btns">
                <div class="pagination_steps__btn pagination_steps__prev not_active">
                  <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 1L1 5M1 5L5 9M1 5L11 5" stroke="#4163DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
                <div class="pagination_steps__btn pagination_steps__next">
                  <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 9L11 5M11 5L7 1M11 5L1 5" stroke="#4163DC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
    </section>
  </div>
  <div class="popup_bg affiliate_program dn">
    <div class="popup__wrapp">
      <div class="popup">
        <div class="affiliate_program__no_friends_added">
          <h3 class="affiliate_program__title">Добавить друга</h3>
          <span class="affiliate_program__text">Добавьте друзей, отправив на email друга ссылку для приглашения. Или скопируйте реферальную ссылку&nbsp;напрямую</span>
          <form action="/" class="affiliate_program__no_friends_added__form">
            <div class="input__wrapper ">
              <div class="main__input input__email_first">
                <input name="email"/ type="text" required>
                <label for="email">Email друга</label>
                <span class="input_msg_error">Неверно введен email</span>
              </div>
              </div>
            <button class="affiliate_program__no_friends_added__btn js-send-email" type="submit"></button>
          </form>
          <div class="ref_link__wrapp">
            <span class="ref_link__text">Реферальная ссылка</span>
            <span class="ref_link">https://figma.fun/PVB30H</span>
            <span class="ref_link__icon"></span>
          </div>
        </div>
        <div class="popup__btn_wrapp">
          <button class="popup__close main__button main__button_white js-close-popup">Отмена</button>
        </div>
      </div>
    </div>
  </div>
  <div class="alert_tip dn">
    <div class="alert_tip__wrapp">На <span class="email"></span> отправлено приглашение</div>
  </div>
</body>
<script src="../js/helper.js"></script>
<script src="../js/menu.index.js"></script>
<script src="../js/affiliate_program.index.js"></script>
</html>