<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>Go To Work</title>
</head>
<body>
  <div class="wrapper dashbord">
    <section class="left_menu">
      <div class="left_menu__wrapp">
        <div class="left_menu__btn_close js-close-menu"></div>
        <div class="left_menu__bg"></div>
        <div class="left_menu__logo"></div>
        <div class="left_menu_list">
        <div class="left_menu_list__top">
            <ul class="nav_list">
                <li class="nav_list__item offers active">Предложения</li>
                <li class="nav_list__item affiliate_program">Партнерская программа</li>
                <li class="nav_list__item statistics">Статистика</li>
                <hr class="left_menu__hr">
                <li class="nav_list__item where_to_begin">С чего начать?</li>
            </ul>
        </div>
        <div class="left_menu_list__bottom">
            <div class="left_menu__info">
                <div class="info__img">
                  <img  src="../img/photo.png">
                </div>
                <div class="info__name">Андрей Кшиштовский</div>
                <div class="info__email">thuhang.nute@gmail.com</div>
            </div>
            <ul class="nav_list nav_profile_list">
                <li class="nav_list__item profile nav_profile_list__item">Мой профиль</li>
                <li class="nav_list__item sign_out nav_profile_list__item">Выйти из аккаунта</li>
                <hr class="left_menu__hr">
                <li class="nav_list__item help nav_profile_list__item">Помощь и поддержка</li>
            </ul>
        </div>
      </div>
      </div>
    </section>
    <section class="main dashbord__main">
      <div class="menu__logo-black"></div>
      <div class="menu__burger js-open-menu"></div>
      <h1 class="dashbord__title">Предложения</h1>
      <span class="dashbord__text">Доступные предложения</span>
      <div class="dashbord__list_wrapper">
        <ul class="dashbord__list">
          <li class="dashbord__list_item">
            <div class="dashbord__list_item__img">
              <img  src="../img/labels/1.png">
            </div>
            <div class="dashbord__list_item__body">
              <h3 class="dashbord__list_item__title">Займика МФК</h3>
              <span class="dashbord__list_item__text">Предлагаю сюда вписать небольшой описательно-продающий текст в 2 строки</span>
              <div class="dashbord__list_item__price">
                <span class="price">1 200 ₽</span>
                <span class="text">гарантированное вознаграждение</span>
              </div>
            </div>
            <button class="dashbord__list_item__btn js-open-popup">Подробнее</button>
          </li>
          <li class="dashbord__list_item">
            <div class="dashbord__list_item__img">
              <img  src="../img/labels/2.png">
            </div>
            <div class="dashbord__list_item__body">
              <h3 class="dashbord__list_item__title">Займика МФК</h3>
              <span class="dashbord__list_item__text">Предлагаю сюда вписать небольшой описательно-продающий текст в 2 строки</span>
              <div class="dashbord__list_item__price">
                <span class="price">1 200 ₽</span>
                <span class="text">гарантированное вознаграждение</span>
              </div>
            </div>
            <button class="dashbord__list_item__btn js-open-popup">Подробнее</button>
          </li>
          <li class="dashbord__list_item">
            <div class="dashbord__list_item__img">
              <img  src="../img/labels/3.png">
            </div>
            <div class="dashbord__list_item__body">
              <h3 class="dashbord__list_item__title">Займика МФК</h3>
              <span class="dashbord__list_item__text">Предлагаю сюда вписать небольшой описательно-продающий текст в 2 строки</span>
              <div class="dashbord__list_item__price">
                <span class="price">1 200 ₽</span>
                <span class="text">гарантированное вознаграждение</span>
              </div>
            </div>
            <button class="dashbord__list_item__btn js-open-popup">Подробнее</button>
          </li>
          <li class="dashbord__list_item">
            <div class="dashbord__list_item__img">
              <img  src="../img/labels/4.png">
            </div>
            <div class="dashbord__list_item__body">
              <h3 class="dashbord__list_item__title">Займика МФК</h3>
              <span class="dashbord__list_item__text">Предлагаю сюда вписать небольшой описательно-продающий текст в 2 строки</span>
              <div class="dashbord__list_item__price">
                <span class="price">1 200 ₽</span>
                <span class="text">гарантированное вознаграждение</span>
              </div>
            </div>
            <button class="dashbord__list_item__btn js-open-popup">Подробнее</button>
          </li>
          <li class="dashbord__list_item">
            <div class="dashbord__list_item__img">
              <img  src="../img/labels/5.png">
            </div>
            <div class="dashbord__list_item__body">
              <h3 class="dashbord__list_item__title">Займика МФК</h3>
              <span class="dashbord__list_item__text">Предлагаю сюда вписать небольшой описательно-продающий текст в 2 строки</span>
              <div class="dashbord__list_item__price">
                <span class="price">300 ₽</span>
                <span class="text">гарантированное вознаграждение</span>
              </div>
            </div>
            <button class="dashbord__list_item__btn js-open-popup">Подробнее</button>
          </li>
          <li class="dashbord__list_item">
            <div class="dashbord__list_item__img">
              <img  src="../img/labels/6.png">
            </div>
            <div class="dashbord__list_item__body">
              <h3 class="dashbord__list_item__title">Займика МФК</h3>
              <span class="dashbord__list_item__text">Предлагаю сюда вписать небольшой описательно-продающий текст в 2 строки</span>
              <div class="dashbord__list_item__price">
                <span class="price">990 ₽</span>
                <span class="text">гарантированное вознаграждение</span>
              </div>
            </div>
            <button class="dashbord__list_item__btn js-open-popup">Подробнее</button>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <div class="popup_bg dn">
    <div class="popup__wrapp">
      <div class="popup">
        <div class="popup__label">
          <img src="../img/labels/2.png">
        </div>
        <button class="popup__close main__button main__button_white js-close-popup"><span>Закрыть</span></button>
        <h1 class="popup__title">Вебзайм</h1>
        <span class="popup__text">Мы с 1999 года предоставляем нашим клиентам современный онлайн сервис микрофинансирования. За время работы к нам обратились уже более 1 500 000 заемщиков. <br><br>
          Статус МФК присваивается Центральным Банком РФ и свидетельствуето высокой надежности микрофинансовой организации.</span>
        <div class="popup__reward_wrapp">
          <div class="reward_wrapp">
            <span class="reward__subtitle">Вознагрождение</span>
            <div class="reward">
              <span class="text">до</span>
              <span class="price">1 200 ₽</span>
            </div>
          </div>
          <div class="confirmation__period">
            <span class="reward__subtitle">Срок подтверждения</span>
            <span class="text">в течении 3-х суток</span>
          </div>
        </div>
        <h3 class="popup__subtitle">Заголовок</h3>
        <span class="popup__text_small"> Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности требуют определения и уточнения позиций, занимаемых участникамив отношении поставленных задач. Значимость этих проблем настолько очевидна,что консультация с широким активом обеспечивает широкому кругу (специалистов) участиев формировании модели развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.</span>
        <ul class="popup__benefits_list">
          <li class="popup__benefits_list__item">Идейные соображения </li>
          <li class="popup__benefits_list__item">Значимость проблем</li>
          <li class="popup__benefits_list__item">Повседневная практика</li>
          <li class="popup__benefits_list__item">Эксперимент проверки позиций</li>
          <li class="popup__benefits_list__item">Постановление задач</li>
        </ul>
        <button class="main__button main__button_submit js-arrange">Оформить</button>
        <div class="popup__ref_link">
          <span class="ref_link__text">Реферальная ссылка</span>
          <span class="ref_link">https://figma.fun/PVB30H</span>
          <span class="ref_link__icon"></span>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../js/dashbord.index.js"></script>
<script src="../js/menu.index.js"></script>
</html>