<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>Go To Work</title>
</head>
<body>
  <div class="wrapper dashbord">
    <section class="left_menu">
      <div class="left_menu__wrapp">
        <div class="left_menu__bg"></div>
        <div class="left_menu__logo"></div>
        <div class="left_menu_list">
        <div class="left_menu_list__top">
            <ul class="nav_list">
                <li class="nav_list__item offers active">Предложения</li>
                <li class="nav_list__item affiliate_program">Партнерская программа</li>
                <li class="nav_list__item statistics">Статистика</li>
                <hr class="left_menu__hr">
                <li class="nav_list__item where_to_begin">С чего начать?</li>
            </ul>
        </div>
        <div class="left_menu_list__bottom">
            <div class="left_menu__info">
                <div class="info__img">
                  <img  src="../img/photo.png">
                </div>
                <div class="info__name">Андрей Кшиштовский</div>
                <div class="info__email">thuhang.nute@gmail.com</div>
            </div>
            <ul class="nav_list nav_profile_list">
                <li class="nav_list__item profile nav_profile_list__item">Мой профиль</li>
                <li class="nav_list__item sign_out nav_profile_list__item">Выйти из аккаунта</li>
                <hr class="left_menu__hr">
                <li class="nav_list__item help nav_profile_list__item">Помощь и поддержка</li>
            </ul>
        </div>
      </div>
      </div>
    </section>
    <section class="main dashbord__main">
      <h1 class="dashbord__title">Предложения</h1>
      <span class="dashbord__text">Доступные предложения</span>
      <div class="dashbord__list_wrapper">
        <ul class="dashbord__list">
          <li class="dashbord__list_item">
            <div class="dashbord__list_item__img">
              <img  src="../img/labels/1.png">
            </div>
            <div class="dashbord__list_item__body">
              <h3 class="dashbord__list_item__title">Займика МФК</h3>
              <span class="dashbord__list_item__text">Предлагаю сюда вписать небольшой описательно-продающий текст в 2 строки</span>
              <div class="dashbord__list_item__price">
                <span class="price">1 200 ₽</span>
                <span class="text">гарантированное вознаграждение</span>
              </div>
            </div>
            <button class="dashbord__list_item__btn">Подробнее</button>
          </li>
          <li class="dashbord__list_item">
            <div class="dashbord__list_item__img">
              <img  src="../img/labels/2.png">
            </div>
            <div class="dashbord__list_item__body">
              <h3 class="dashbord__list_item__title">Займика МФК</h3>
              <span class="dashbord__list_item__text">Предлагаю сюда вписать небольшой описательно-продающий текст в 2 строки</span>
              <div class="dashbord__list_item__price">
                <span class="price">1 200 ₽</span>
                <span class="text">гарантированное вознаграждение</span>
              </div>
            </div>
            <button class="dashbord__list_item__btn">Подробнее</button>
          </li>
          <li class="dashbord__list_item">
            <div class="dashbord__list_item__img">
              <img  src="../img/labels/3.png">
            </div>
            <div class="dashbord__list_item__body">
              <h3 class="dashbord__list_item__title">Займика МФК</h3>
              <span class="dashbord__list_item__text">Предлагаю сюда вписать небольшой описательно-продающий текст в 2 строки</span>
              <div class="dashbord__list_item__price">
                <span class="price">1 200 ₽</span>
                <span class="text">гарантированное вознаграждение</span>
              </div>
            </div>
            <button class="dashbord__list_item__btn">Подробнее</button>
          </li>
          <li class="dashbord__list_item">
            <div class="dashbord__list_item__img">
              <img  src="../img/labels/4.png">
            </div>
            <div class="dashbord__list_item__body">
              <h3 class="dashbord__list_item__title">Займика МФК</h3>
              <span class="dashbord__list_item__text">Предлагаю сюда вписать небольшой описательно-продающий текст в 2 строки</span>
              <div class="dashbord__list_item__price">
                <span class="price">1 200 ₽</span>
                <span class="text">гарантированное вознаграждение</span>
              </div>
            </div>
            <button class="dashbord__list_item__btn">Подробнее</button>
          </li>
          <li class="dashbord__list_item">
            <div class="dashbord__list_item__img">
              <img  src="../img/labels/5.png">
            </div>
            <div class="dashbord__list_item__body">
              <h3 class="dashbord__list_item__title">Займика МФК</h3>
              <span class="dashbord__list_item__text">Предлагаю сюда вписать небольшой описательно-продающий текст в 2 строки</span>
              <div class="dashbord__list_item__price">
                <span class="price">300 ₽</span>
                <span class="text">гарантированное вознаграждение</span>
              </div>
            </div>
            <button class="dashbord__list_item__btn">Подробнее</button>
          </li>
          <li class="dashbord__list_item">
            <div class="dashbord__list_item__img">
              <img  src="../img/labels/6.png">
            </div>
            <div class="dashbord__list_item__body">
              <h3 class="dashbord__list_item__title">Займика МФК</h3>
              <span class="dashbord__list_item__text">Предлагаю сюда вписать небольшой описательно-продающий текст в 2 строки</span>
              <div class="dashbord__list_item__price">
                <span class="price">990 ₽</span>
                <span class="text">гарантированное вознаграждение</span>
              </div>
            </div>
            <button class="dashbord__list_item__btn">Подробнее</button>
          </li>
        </ul>
      </div>
    </section>
  </div>
</body>
<script src="../js/dashbord.index.js"></script>
</html>