<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../js/plugins/Glider/glider.css">
  <title>Go To Work</title>
</head>
<body>
  <div class="wrapper">
    <section class="left_menu">
      <div class="left_menu__bg"></div>
      <div class="left_menu__logo"></div>
      <div class="left_menu__bottom">
        <div class="glider-contain">
          <div class="glider">
            <div class="">
              <span class="left_menu__title">Gotowork</span>
              <span class="left_menu__text">Лучшая система для пассивного заработка</span>
            </div>
            <div>
              <span class="left_menu__title">Gotowork</span>
              <span class="left_menu__text">Лучшая система для пассивного заработка</span>
            </div>
            <div>
              <span class="left_menu__title">Gotowork</span>
              <span class="left_menu__text">Лучшая система для пассивного заработка</span>
            </div>
          </div>
          <div class="dots"></div>
        </div>
      </div>
    </section>
    <section class="main">
      <a class="main__link registration__link password_recovery__link" href="file:///home/engenia/Documents/gotowork/index.html">Вернуть к&nbsp;авторизации</a>
      <div class="menu__logo-black"></div>
      <form class="main__login password_recovery__step_first" action="/">
        <h1 class="main__title">Восстановление пароля</h1>
        <label class="main__text js-step-first">Введие Email вашего аккаунта, от&nbsp;которого<span class="mobile_hide"><br></span> забыли пароль</label>
        <div class="input__wrapper js-step-first">
          <div class="main__input input__email_first">
            <input name="email_first"/ type="text" required>
            <label for="email_first">Ваш Email</label>
            <span class="input_msg_error">Неверно введен email</span>
          </div>
        </div>
        <button class="main__button main__button_white registration__btn password_recovery__btn js-to-step-second js-step-first" type="button">Продолжить</button>
        <!-- шаг 2 -->
        <label class="main__text js-step-second dn">Введите код, который был отправлен вам<span class="mobile_hide"><br></span> на вашу почту</label>
        <div class="input__wrapper input__wrapper--step-second js-step-second dn">
            <div class="main__input input__code">
                <input name="code"/ type="text" required>
                <label for="code">Код восстановления</label>
                <span class="input_msg_error">Поле пустое</span>
            </div>
        </div>
        <button class="main__button main__button_white registration__btn password_recovery__btn js-to-step-third js-step-second dn" type="button">Продолжить</button>
        <!-- шаг 3 -->
        <label class="main__text js-step-third dn">Придумайте новоый пароль. Пароль должен<span class="mobile_hide"><br></span> состоять минимум из 8 символом, иметь цифры и буквы</label>
        <div class="input__wrapper input__wrapper--step-third js-step-third dn">
            <div class="main__input input__password">
                <input name="password"/ type="password" required>
                <label for="password">Введите пароль</label>
                <span class="input_msg_error">Поле пустое</span>
            </div>
            <div class="main__input input__pass-repeat">
                <input name="pass-repeat"/ type="password" required>
                <label for="pass-repeat">Повторите пароль</label>
                <span class="input_msg_error">Поле пустое или пароли не совпадают</span>
            </div>
        </div>
        <button class="main__button main__button_white js-step-third registration__btn password_recovery__btn js-to-step-fourth dn" type="button">Продолжить</button>
      </form>
      <!-- шаг 4 -->
      <form class="main__login js-login-form registration__step_fourth js-step-fourth dn" action="/">
        <h1 class="main__title">Пароль восстановлен</h1>
        <label class="main__text">Введите данные для входа ниже</label>
        <div class="main__input input__email">
          <input name="email"/ type="text" required>
          <label for="email">Ваш Email</label>
          <span class="input_msg_error">Неверно введен email</span>
        </div>
        <div class="main__input input__pass">
          <input name="pass"/ type="password" required>
          <label for="pass">Ваш пароль</label>
          <span class="input_msg_error">Неверно введен пароль</span>
        </div>
        <label class="main__link js-to-fogot-pass">Забыли пароль?</label>
        <button class="main__button main__button_submit js-button_submit" type="submit">Войти</button>
        <button class="main__button login__btn main__button_white js-to-new-account" type="button">Создать аккаунт</button>
      </form>

    </section>
  </div>
</body>
<script src="../js/helper.js"></script>
<script src="../js/plugins/Glider/glider.js"></script>
<script src="../js/slider.js"></script>
<script src="../js/password_recovery.index.js"></script>
</html>