<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../js/plugins/datapicker/pickmeup.css">
  <link rel="stylesheet" href="../js/plugins/datapicker/pickmeup.local.css">
  <link rel="stylesheet" href="../js/plugins/vanillaSelectBox/vanillaSelectBox.css">
  <link rel="stylesheet" href="../js/plugins/vanillaSelectBox/vanilaSelectBox.local.css">
  <title>Go To Work</title>
</head>
<body>
  <div class="wrapper dashbord">
    <section class="left_menu">
      <div class="left_menu__wrapp">
        <div class="left_menu__btn_close js-close-menu"></div>
        <div class="left_menu__bg"></div>
        <div class="left_menu__logo"></div>
        <div class="left_menu_list">
        <div class="left_menu_list__top">
            <ul class="nav_list js-nav-list">
                <li class="nav_list__item offers">Предложения</li>
                <li class="nav_list__item affiliate_program">Партнерская программа</li>
                <li class="nav_list__item statistics">Статистика</li>
                <hr class="left_menu__hr">
                <li class="nav_list__item where_to_begin">С чего начать?</li>
            </ul>
        </div>
        <div class="left_menu_list__bottom">
            <div class="left_menu__info">
                <div class="info__img">
                  <img  src="../img/photo.png">
                </div>
                <div class="info__name">Андрей Кшиштовский</div>
                <div class="info__email">thuhang.nute@gmail.com</div>
            </div>
            <ul class="nav_list nav_profile_list">
                <li class="nav_list__item profile nav_profile_list__item active">Мой профиль</li>
                <li class="nav_list__item sign_out nav_profile_list__item">Выйти из аккаунта</li>
                <hr class="left_menu__hr">
                <li class="nav_list__item help nav_profile_list__item">Помощь и поддержка</li>
            </ul>
        </div>
      </div>
      </div>
    </section>
    <section class="main dashbord__main profile__main">
      <div class="menu__logo-black"></div>
      <div class="menu__burger js-open-menu"></div>
      <h1 class="dashbord__title profile__title">Мой профиль</h1>
      <div class="affiliate_program__wrapp profile__wrapp">
        <div class="profile__img">
          <img src="../img/avatar.png" alt="">
          <span class="profile__change_img"></span>
        </div>
        <div class="profile__info">
          <div class="profile__name">Кшиштовский Андрей Васильевич</div>
          <div class="profile__contacts">
            <div class="phone__label">Телефон</div>
            <div class="email__label">Email</div>
            <div class="phone">+7( 123) 197-25-00</div>
            <div class="email">thuhang.nute@gmail.com</div>
          </div>
        </div>
        <button class="main__button main__button_white js-edit-profile" type="button">Редактировать профиль</button>
      </div>
      <div class="affiliate_program__wrapp card__wrapp">
        <div class="card__title">Карты</div>
        <div class="cardholder">
          <div class="card">
            <span class="card__delete js-delete-card"></span>
            <span class="card_logo"></span>
            <span class="card__number"> 1234 88** **** 6780</span>
          </div>
          <div class="card">
            <span class="card__delete js-delete-card"></span>
            <span class="card_logo"></span>
            <span class="card__number"> 1234 88** **** 6780</span>
          </div>
          <div class="card__add js-add-new-card">Добавить карту</div>
        </div>
        <button class="main__button main__button_white" type="button">История вознаграждений</button>
      </div>
    </section>
  </div>
  <div class="popup_bg affiliate_program add_new_card dn">
    <div class="popup__wrapp">
      <div class="popup">
        <div class="affiliate_program__no_friends_added">
          <h3 class="affiliate_program__title edit_profile__title">Привязка новой карты</h3>
          <form action="/" class="add_new_card__form">
            <div class="input__wrapper ">
              <div class="main__input input__card">
                <input name="card"/ type="text" required>
                <label for="card">Номер карты</label>
              </div>
            </div>
          </form>
        </div>
        <div class="popup__btn_wrapp">
          <button class="popup__close main__button main__button_white js-close-popup">Отмена</button>
          <button class="add_card main__button main__button_white js-add_new_card" type="button">Привязать</button>
        </div>
        <button class="add_card main__button main__button_white js-add_new_card mobil_btn" type="button">Привязать</button>
      </div>
    </div>
  </div>
  <div class="popup_bg affiliate_program add_new_card edit_profile dn">
    <div class="popup__wrapp">
      <div class="popup">
        <div class="affiliate_program__no_friends_added">
          <h3 class="affiliate_program__title edit_profile__title">Редактировать профиль</h3>
          <form action="/" class="add_new_card__form">
            <div class="input__wrapper">
              <div class="main__input input__name">
                <input name="name"/ type="text" required>
                <label for="name">Фамилия, имя и отчество</label>
                <span class="input_msg_error">Поле пустое</span>
              </div>
              <div class="main__input input__phone">
                <input name="phone"/ type="text" required>
                <label for="phone">Телефон</label>
                <span class="input_msg_error">Неверно введен телефон</span>
              </div>
              <div class="main__input input__email_first">
                <input name="email_first"/ type="text" required>
                <label for="email_first">Ваш Email</label>
                <span class="input_msg_error">Неверно введен email</span>
              </div>
            </div>
          </form>
        </div>
        <div class="popup__btn_wrapp">
          <button class="popup__close main__button main__button_white js-close-popup">Отмена</button>
          <button class="add_card main__button main__button_white js-edit-info" type="button">Редактировать</button>
        </div>
        <button class="add_card main__button main__button_white js-edit-info mobil_btn" type="button">Редактировать</button>
      </div>
    </div>
  </div>
</body>
<script src="../js/helper.js"></script>
<script src="../js/menu.index.js"></script>
<script src="../js/profile.index.js"></script>
</html>