@font-face {
  font-family: Raleway; 
  src: url(fonts/static/Raleway-Medium.ttf)  format("truetype");
  font-style: normal; 
  font-weight: normal; 
 }

* {
  font-family: Raleway;
  position: relative;
  box-sizing: border-box;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

body {
  margin: 0;
}


/* авторизация */
.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.left_menu__wrapp {
  position: fixed;
  width: 300px;
  height: 100%;
  min-height: 746px;
}

.left_menu__bg {
  background: url(./img/left-menu.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-size: cover;
  z-index: -1;
}

.left_menu__logo {
  position: absolute;
  width: 142px;
  height: 32px;
  background: url(./img/logo.svg);
  top: 20px;
  left: 24px;
}

.left_menu__bottom {
  position: absolute;
  bottom: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 0 24px;
}

.left_menu__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  padding-top: 8px;
}

.left_menu__text {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.pag {
  position: absolute;
  bottom: 100px;
  padding: 0 24px;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 12px;
}

.pag__dote {
  height: 4px;
  width: 76px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
}

.pag__dote.active {
  background-color: #41DC9A;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
  margin-top: 0;
  color: #2E2E40;
}

.main__text {
  display: block;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
  color: #75758A;
}

.main__input {
  margin-bottom: 16px;
}

.main__input input {
  display: block;
  width: 532px;
  height: 60px;
  color: #2E2E40;
  background-color: #EBEDF5;
  border: 1px solid #EBEDF5;
  border-radius: 8px;
  font-size: 18px;
  line-height: 28px;
  padding: 20px 24px;
  transition: .3s;
}

.main__input input:valid,
.main__input input:active,
.main__input input:focus {
  outline: none;
  border: 1px solid #CACAD6;
  background-color: #fff;
  padding: 26px 24px 6px;
}

.main__input label {
  font-size: 14px;
  line-height: 20px;
  color: #9595AD;
  position: absolute;
  top: 20px;
  left: 24px;
  transition: .3s;
}

.main__input input:valid + label,
.main__input input:active + label,
.main__input input:focus + label {
  top: 6px;
  font-size: 12px;
}

.main__link {
  color: #4163DC;
  font-size: 14px;
  line-height: 20px;
  display: block;
  text-align: right;
  margin-bottom: 28px;
  cursor: pointer;
}

.main__button {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.main__button_submit {
  height: 60px;
  background: #41DC9A;
  border: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 20px;
}

.main__button_white {
  color: #4163DC;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  height: 44px;
  border: 1px solid #4163DC;
  background: #fff;
}

.input_msg_error {
  display: none;
  color: #E95050;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  bottom: -34px;
}

.input__error.input__email {
  margin-bottom: 48px;
}

.input__error input:valid,
.input__error input {
  background: #FFEDED;
  border: 1px solid #FFAAAA;
}

.input__error label {
  color: #E95050;
}

.input__error span {
  display: block;
}

.menu__logo-black {
  position: absolute;
  width: 142px;
  height: 32px;
  background: url(./img/logo-black.svg);
  top: 20px;
  left: 24px;
  display: none;
}

/* регистрация */

.dn {
  display: none !important;
}

.registration__btn {
  height: 60px;
}

.registration_steps {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #75758A;
  margin-left: 14px;
  top: -3px;
}

.registration_steps .step{
  background: #41DC9A;
  border-radius: 8px;
  color: #fff;
  padding: 8px 12px;
}

.registration__link {
  position: absolute;
  top: 27px;
  right: 58px;
  z-index: 10;
}

.registration__step_first {
  width: 532px;
}

.registration__step_first .input__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 12px;
}

.registration__step_first .input__wrapper input{
  width: 100%;
}
.input__wrapper--step-second {
  margin-bottom: 28px;
}

.input__wrapper--step-second.input__wrapper {
  display: block;
}

.registration__timer.no-active {
  color: #75758A;
  pointer-events: none;
}

.registration__step_first .input__error {
  margin-bottom: 28px;
}

.registration__step_first .input__error span {
  bottom: -24px;
}

/* восстановление пароля */

.password_recovery__link {
  text-decoration: none;
}

.password_recovery__step_first .input__wrapper {
  margin-bottom: 28px;
}

.password_recovery__step_first .input__wrapper .input__error {
  margin-bottom: 46px;
}

/* Предлодения */

.dashbord .left_menu__bg {
  background: #2E2E40;
}

.dashbord .left_menu__logo::before {
  background: #3A3A4B;
  content: '';
  position: absolute;
  width: 300px;
  height: 72px;
  z-index: -1;
  top: -20px;
  left: -24px;
  border-top-right-radius: 15px;
}

.left_menu_list {
  padding: 24px;
  margin-top: 72px;
  height: calc(100% - 72px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #9595AD;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.left_menu__hr {
  width: 100%;
  background: #3A3A4B;
  height: 1px;
  border: none;
}

.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 12px;
}

.nav_list__item {
  height: 52px;
  line-height: 52px;
  padding-left: 48px;
  cursor: pointer;
}

.nav_list__item:hover {
  background: #3A3A4B;
  border-radius: 16px;
}

.nav_list__item.active {
  background: rgba(78, 255, 180, 0.1);
  border-radius: 16px;
  color: #4EFFB4;
}

.nav_list__item::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 16px;
}

.nav_list__item.offers::before {
  background: url(./img/icons/offers.svg);
}

.nav_list__item.offers.active::before {
  background: url(./img/icons/offers_active.svg);
}

.nav_list__item.affiliate_program::before {
  background: url(./img/icons/affiliate_program.svg);
}

.nav_list__item.affiliate_program.active::before {
  background: url(./img/icons/affiliate_program_active.svg);
}

.nav_list__item.statistics::before {
  background: url(./img/icons/statistics.svg);
}

.nav_list__item.statistics.active::before {
  background: url(./img/icons/statistics_active.svg);
}

.nav_list__item.where_to_begin::before {
  background: url(./img/icons/where_to_begin.svg);
}

.nav_list__item.profile::before {
  background: url(./img/icons/profile.svg);
}

.nav_list__item.profile.active::before {
  background: url(./img/icons/profile_active.svg);
}

.nav_list__item.sign_out::before {
  background: url(./img/icons/sign_out.svg);
}

.nav_list__item.help::before {
  background: url(./img/icons/help.svg);
}

.left_menu__info {
  background: #3A3A4B;
  border-radius: 16px;
  height: 108px;
  padding: 52px 20px 16px;
  margin-bottom: 12px;
}

.info__img {
  position: absolute;
  top: -30px;
  border-radius: 32px;
  width: 64px;
  height: 64px;
}
.info__img {
  object-fit: cover;
}

.info__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 4px;
}

.info__email {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.dashbord__main {
  padding: 40px 28px 16px;
  display: block;
  background: #FAFAFA;
}

.dashbord__title {
  font-weight: bold;
  font-size: 52px;
  line-height: 64px;
  margin: 0;
  margin-bottom: 4px;
  color: #2E2E40;
}

.dashbord__text {
  font-size: 16px;
  line-height: 24px;
  color: #9595AD;
  margin-bottom: 40px;
  display: block;
}

.dashbord__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.dashbord__list_item {
  background-color: #fff;
  box-shadow: 0px 4px 60px -24px rgba(119, 119, 154, 0.5);
  border-radius: 16px;
  padding: 24px 24px 100px;
  overflow: hidden;
}

.dashbord__list_item__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 4px;
}

.dashbord__list_item__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #75758A;
  display: block;
  margin-bottom: 32px;
}

.dashbord__list_item__img {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dashbord__list_item__img img {
  object-fit: none;
}

.dashbord__list_item__price {
  display: flex;
  align-items: center;
}

.dashbord__list_item__price .price {
  background: #41DC9A;
  border-radius: 8px;
  color: #fff;
  display: block;
  padding: 8px 12px;
  margin-right: 8px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.dashbord__list_item__price .text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #9595AD;
  width: 104px;
}

.dashbord__list_item__btn {
  background: #2E2E40;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  border: none;
  width: 100%;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.open_popup {
  overflow: hidden;
}

.popup_bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.popup__wrapp {
  width: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.popup {
  background-color: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 40px;

  width: 100%;
  height: 100%;
  max-height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;

}

.popup::-webkit-scrollbar {
  width: 0;
}
.popup__label {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.popup__close {
  width: 89px;
  height: 40px;
  position: absolute;
  top: 48px;
  right: 40px;
  z-index: 10;
}

.popup__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #2E2E40;
}

.popup__text {
  font-size: 18px;
  line-height: 28px;
  color: #75758A;
  margin-bottom: 40px;
  display: block;
}

.popup__reward_wrapp {
  border-top: 1px solid #ECECF4;
  border-bottom: 1px solid #ECECF4;
  margin-bottom: 60px;
  padding: 19px 0;
  display: flex;
}

.reward__subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #9895AD;
  margin-bottom: 8px;
  display: block;
}

.popup__reward_wrapp .text {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #41DC9A;
  display: block;
  margin-right: 12px;
}

.reward_wrapp .price {
  background: #41DC9A;
  border-radius: 8px;
  color: #fff;
  display: block;
  padding: 8px 12px;
  margin-right: 8px;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.reward_wrapp {
  margin-right: 64px;
}

.popup__reward_wrapp .reward{
  display: flex;
  align-items: center;
}

.confirmation__period .reward__subtitle {
  margin-bottom: 16px;
}

.popup__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #2E2E40;
  margin-bottom: 32px;
}

.popup__text_small {
  font-size: 14px;
  line-height: 28px;
  color: #75758A;
  margin-bottom: 24px;
  display: block;
}

.popup__benefits_list {
  margin-bottom: 60px;
  padding-inline-start: 18px;
  font-size: 14px;
  line-height: 28px;
  color: #75758A;
}

.popup .main__button {
  margin-bottom: 16px;
}

.ref_link__wrapp {
  border: 1px solid #CACAD6;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 6px 24px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.ref_link__text {
  font-size: 12px;
  line-height: 20px;
  color: #9595AD;
}

.ref_link {
  font-size: 18px;
  line-height: 28px;
  color: #2E2E40;
}

.ref_link__icon {
  position: absolute;
  width: 32px;
  height: 32px;
  display: block;
  top: 14px;
  right: 16px;
  background: url(./img/ref_link.svg);
}

.menu__burger {
  display: none;
  position: absolute;
  top: 24px;
  right: 16px;
  width: 32px;
  height: 32px;
  background: url(./img/menu__burger.svg);
}

.left_menu__btn_close {
  display: none;
  position: absolute;
  top: 18px;
  right: 16px;
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 8px;
}

.left_menu__btn_close::after,
.left_menu__btn_close::before {
  content: '';
  border-radius: 8px;
  width: 2px;
  height: 16px;
  position: absolute;
  top: 7px;
  left: 14px;
  transform: rotate(45deg);
  background-color: #fff;
}

.left_menu__btn_close::before {
  transform: rotate(-45deg);
}

.left_menu.open {
  display: block;
  display: block;
  position: absolute;
  z-index: 20;
}

.left_menu.open .left_menu__wrapp {
  width: 100%;
}

.left_menu.open .left_menu__bg {
  border-radius: 0;
}

.dashbord .left_menu.open .left_menu__logo::before {
  width: 100vh;
}

/* Партнерская программа */

.affiliate_program__title {
  margin-bottom: 40px;
}

.affiliate_program__wrapp {
  background: #FFFFFF;
  box-shadow: 0px 4px 60px -24px rgba(119, 119, 154, 0.5);
  border-radius: 16px;
  width: 100%;
  height: calc(100% - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.affiliate_program__no_friends_added {
  width: 500px;
}

.affiliate_program__no_friends_added .affiliate_program__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.affiliate_program__text {
  font-size: 18px;
  line-height: 28px;
  color: #75758A;
  text-align: center;
  display: block;
  margin-bottom: 32px;
}

.affiliate_program__no_friends_added__form {
  display: grid;
  grid-template-columns: 1fr 60px;
  grid-column-gap: 16px;
}

.affiliate_program__no_friends_added__form .main__input input {
  width: 424px;
}

.affiliate_program__no_friends_added__btn {
  width: 60px;
  height: 60px;
  background: #41DC9A;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.affiliate_program__no_friends_added__btn::after,
.affiliate_program__no_friends_added__btn::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 16px;
  background: #fff;
  top: 38%;
  left: 50%;
}

.affiliate_program__no_friends_added__btn::before {
  transform: rotate(90deg);
}

.affiliate_program__friends_list {
  width: 100%;
}

.affiliate_program__friends_list .input__search {
  margin: 24px 32px 0;
}

.affiliate_program__friends_list .input__search::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(./img/search.svg);
  z-index: 1;
  top: 12px;
  left: -12px;
}

.affiliate_program__friends_list .input__search input{
  background-color: #fff;
  border: none;
}

.affiliate_program__friends_list .input__search label{
  color: #2E2E40;
  font-weight: 600;
}

.affiliate_program__friends_list__btn {
  position: absolute;
  width: 144px;
  height: 44px;
  top: 32px;
  right: 32px;
  z-index: 10;
}

.affiliate_program__friends_list_wrapp {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #ECECF4;
  padding: 12px 32px 20px;
}

.affiliate_program__friends_list__item {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr 1fr;
  padding: 22px 0;
  font-size: 14px;
  line-height: 20px;
  color: #2E2E40;
}

.affiliate_program__friends_list__item:not(.__header) .__date {
  color: #9595AD;
}

.affiliate_program__friends_list__item:not(.__header) .__name {
  font-weight: bold;
  padding-left: 32px;
}

.affiliate_program__friends_list__item:not(.__header) .__name span {
  position: absolute;
  display: block;
  background: linear-gradient(180deg, #67FFBE 0%, #41DC9A 100%);
  font-weight: bold;
  font-size: 10px;
  line-height: 24px;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 30px;
  top: -2px;
  left: 0;
  text-align: center;
}

.affiliate_program__friends_list__item.__header {
  padding: 11px 0;
  border-bottom: 1px solid #ECECF4;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.affiliate_program__friends_list__pag_wrapp {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #2E2E40;
}

.pagination_steps_index {
  margin-left: 32px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
}

.pagination_steps {
  right: 32px;
  display: flex;
  align-items: center;
}

.pagination_steps__text {
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
}

.pagination_steps__select_wrapp {
  margin-left: 12px;
  padding-right: 20px;
  border-right: 1px solid #ECECF4;
}

.pagination_steps__btns {
  margin-left: 20px;
  display: flex;
}

.pagination_steps__btn {
  border: 1px solid #ECECF4;
  box-sizing: border-box;
  border-radius: 8px;
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
}

.pagination_steps__btn.not_active {
  pointer-events: none;
}

.pagination_steps__btn.not_active svg path {
  stroke: #9595AD;
}

.pagination_steps__prev {
  margin-right: 4px;
}

.pagination_steps__select__wrapp select::-ms-expand  {
  color: #4163DC;
}

.affiliate_program .popup__wrapp {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 684px;
  height: 496px;
}

.affiliate_program .popup {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.affiliate_program .popup .affiliate_program__no_friends_added {
  padding-bottom: 31px;
  border-bottom: 1px solid #ECECF4;
}

.affiliate_program .popup__btn_wrapp {
  height: 40px;
  margin-top: 32px;
  width: 500px;
}

.affiliate_program .popup__close {
  border: none;
  top: 0;
  right: 0;
}

.affiliate_program__no_friends_added .main__input.input__error {
  margin-bottom: 26px;
}

.affiliate_program__no_friends_added .main__input .input_msg_error {
  bottom: -22px;
}

.alert_tip {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background: rgba(46, 46, 64, 0.75);
  border-radius: 8px;
  transform: translateX(-50%);
  padding: 16px 52px;
}

.alert_tip__wrapp {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

/* Статистика */

.statistics__title {
  margin-bottom: 32px;
}

.tab__titles {
  display: flex;
  margin-bottom: 32px;
}

.tab__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #9595AD;
  cursor: pointer;
}

.tab__title.active {
  color: #2E2E40;
}

.tab__title.my_stats {
  margin-right: 40px;
}

.statistics__wrapp {
  height: calc(100% - 160px);
}

.statistics__form {
  display: flex;
}

.statistics__form input {
  width: auto;
}

.statistics__list_wrapp {
  list-style: none;
  border-bottom: 1px solid #ECECF4;
  margin: 0;
  padding: 12px 32px 20px;
}

.statistics__list__item {
  display: grid;
  grid-template-columns: 1fr 1fr 2.5fr 1fr 1fr;
  padding: 22px 0;
  font-size: 14px;
  line-height: 20px;
  color: #2E2E40;
}

.statistics__list__item.__header {
  padding: 11px 0;
  border-bottom: 1px solid #ECECF4;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.statistics__list__item .row{
  display: flex;
  align-items: center;
}

.statistics__list__item:not(.__header) .__date,
.statistics__list__item:not(.__header) .__id {
  color: #9595AD;
}

.statistics__list__item:not(.__header) .__name_offers {
  font-weight: bold;
}

.statistics__list__item:not(.__header) .__status {
  font-weight: 800;
  font-size: 10px;
  line-height: 16px;
}

.statistics__list__item:not(.__header) .__status span {
  padding: 4px 12px;
  border-radius: 50px;
}

.statistics__list__item:not(.__header) .__status .paid {
  background: #DFF2EC;
  color: #28B77A;
}

.statistics__list__item:not(.__header) .__status .on_check {
  color: #4163DC;
  background: #D9DFF1;
}

.statistics__list__item:not(.__header) .__status .preparing_for_payment {
  color: #F2B720;
  background: #FAF2E0;
}

.statistics__list__item:not(.__header) .__status .accepted {
  color: #16CFC4;
  background: #DBF0EF;
}

.statistics__list__item:not(.__header) .__status .declined {
  color: #9D9D9D;
  background: #ECECEC;
}

.statistics__list__item:not(.__header) .__status .refused_in_payment {
  color: #DD1B0F;
  background: #F8E3E2;
}
/* мобилка*/

@media (max-width: 840px) {
  .main__title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 100px;
  }

  .left_menu {
    display: none;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .left_menu__btn_close,
  .menu__burger,
  .menu__logo-black {
    display: block;
  }

  .main__text {
    font-size: 14px;
    line-height: 20px;
  }

  .main__login {
    height: 100vh;
    width: 564px;
    padding: 0 16px 16px;
  }

  .main__button_submit{
    font-size: 20px;
    line-height: 28px;
  }

  .input_msg_error {
    bottom: -22px;
    font-size: 12px;
    line-height: 16px;
  }

  .main__link {
    font-size: 12px;
    line-height: 16px;
  }

  .main__input input {
    font-size: 14px;
    line-height: 20px;
  }

  .main__input.input__pass {
    margin-bottom: 8px;
  }

  .input__error.input__email {
    margin-bottom: 40px;
  }

  .registration__step_third {
    position: absolute;
    padding: 0 16px 16px;
    top: 150px;
  }

  .dashbord__title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 40px;
  }

  .dashbord__text {
    font-size: 14px;
    line-height: 20px;
  }

  .dashbord__list_item__img {
    height: 40px;
    margin-bottom: 12px;
  }

  .dashbord__list_item__img img {
    transform: scale(0.7);
    left: -20px;
    display: block;
  }

  .dashbord__list_item__title {
    font-size: 18px;
    margin-bottom: 0;
  }

  .dashbord__list_item__btn {
    font-size: 12px;
    line-height: 16px;
  }

  .popup__wrapp {
    width: 100%;
  }

  .popup {
    border-radius: 0;
  }
}

@media (max-width: 560px) {
  .main__login {
    width: 100%;
  }

  .main__input input {
    width: 100%;
  }

  .registration__step_fourth .main__button_white,
  .js-login-form .main__button_white {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: calc(100% - 32px);
  }

  .main__button_submit:not(.js-to-step-fourth) {
    position: absolute;
    bottom: 60px;
    left: 16px;
    width: calc(100% - 32px);
  }

  .registration_steps {
    display: block;
    line-height: 42px;
    margin-left: 0;
    margin-top: 5px;
  }

  .registration__link {
    top: 20px;
    right: 17px;
    font-size: 14px;
    line-height: 20px;
    width: 100px;
  }

  .registration__step_third {
    top: 193px;
    height: auto;
  }

  .mobile_hide {
    display: none;
  }

  .affiliate_program__main {
    padding: 40px 16px 16px;
  }

  .affiliate_program__no_friends_added {
    width: auto;
  }

  .affiliate_program__no_friends_added__form .main__input input {
    width: 216px;
  }

  .affiliate_program__title {
    margin-bottom: 24px;
    width: 240px;
  }

  .affiliate_program__wrapp {
    margin: 0 -16px;
    width: 100vw;
    height: calc(100% - 60px);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 24px 16px;
    align-items: baseline;
  }

  .affiliate_program__no_friends_added .affiliate_program__title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
    text-align: left;
    width: auto;
  }

  .affiliate_program__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;
    text-align: left;
  }

  .alert_tip__wrapp {
    font-size: 12px;
    line-height: 18px;
  }

  .alert_tip {
    padding: 16px 31px;
  }

  .affiliate_program__friends_list__btn {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    height: 44px;
  }

  .affiliate_program__friends_list .input__search {
    margin: -13px 5px 10px;
  }

  .affiliate_program__friends_list .input__search input{
    height: 50px;
  }

  .affiliate_program__friends_list_wrapp {
    padding: 15px 0 0;
  }

  .affiliate_program__friends_list__item {
    grid-template-columns: 1fr;
    border-bottom: 1px solid #ECECF4;
    grid-row-gap: 5px;
  }

  .affiliate_program__friends_list__item.__header {
    display: none;
  }

  .affiliate_program__friends_list__item:not(.__header) .__date {
    order: 4;
    margin-top: 13px;
  }

  .affiliate_program__friends_list__item:not(.__header) .__name {
    margin-bottom: 17px;
  }

  .affiliate_program__friends_list__pag_wrapp {
    flex-direction: column;
    margin-top: 25px;
    align-items: baseline;
  }

  .pagination_steps_index {
    margin-left: 0;
  }

  .pagination_steps {
    right: 0;
  }

  .affiliate_program .popup__wrapp {
    width: 100vw;
    height: 100vh;
  }

  .affiliate_program .popup {
    border-radius: 0;
    justify-content: normal;
    padding-top: 80px;
  }

  .affiliate_program .popup .affiliate_program__no_friends_added {
    border: none;
  }

  .affiliate_program .popup__btn_wrapp {
    width: auto;
    position: absolute;
    top: -8px;
    right: 16px;
  }

  .affiliate_program .popup__close {
    border: 1px solid #4163DC;
    font-size: 0;
  }
}

@media (min-width: 560px) {
  .registration__step_first .input__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
  }

  .registration__step_first .input__wrapper .input__name {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .registration__step_first .input__wrapper .input__phone {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .registration__step_first .input__wrapper .input__email_first {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

@media (max-width: 1439px) {
  .dashbord__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1920px) {
  .dashbord__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 841px) and (max-width: 970px) {
  .dashbord__list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 599px) {
  .dashbord__list {
    grid-template-columns: 1fr;
  }

  .popup__close span {
    display: none;
  }

  .popup__close {
    width: 32px;
    height: 32px;
    top: 24px;
    right: 16px;
  }

  .popup__close::after,
  .popup__close::before {
    content: '';
    border-radius: 8px;
    width: 2px;
    height: 16px;
    position: absolute;
    top: 7px;
    left: 14px;
    transform: rotate(45deg);
    background-color: #4163DC;
  }

  .popup__close::before {
    transform: rotate(-45deg);
  }

  .popup {
    padding: 24px 16px;
  }

  .popup__title {
    font-size: 24px;
    line-height: 32px;
  }

  .popup__text {
    font-size: 16px;
    line-height: 24px;
  }

  .popup__reward_wrapp {
    flex-direction: column;
  }

  .reward__subtitle {
    font-size: 12px;
    line-height: 16px;
  }

  .reward {
    margin-bottom: 40px;
  }

  .popup__subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .popup__benefits_list {
    margin-bottom: 40px;
  }

  .ref_link {
    font-size: 14px;
    line-height: 20px;
  }

  .ref_link__icon {
    top: 9px;
  }

  .popup__wrapp .main__button_submit {
    position: relative;
    width: 100%;
    bottom: auto;
    left: auto;
  }

  .popup__label {
    margin-bottom: 32px;
    height: 40px;
  }
}
